.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;

}
#cumulChart {
    max-width: 800px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

form input,
form button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
}