.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    
}

.controls-table-container {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-dropdown {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.custom-dropdown label,
.custom-dropdown input {
    margin: 0 5px;
    color: #003366;
}

.table-container {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 51, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #003366;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #cce6ff;
}

th {
    background-color: #cce6ff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #e6f2ff;
}

tr:hover {
    background-color: #cce6ff;
}

.chart-container {
    flex: 1 1 400px;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 51, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}